<h3>Lista plus</h3>
<aby-nueva-tarea (addTarea)="addTarea($event)" (deleteAllTareas)="deleteAllTareas()"></aby-nueva-tarea>

<ng-container *ngIf="aTareas.length > 0; else elseTemplate">
    <div class='mt-4'>
        <h4>Tareas</h4>
        <ul>
            <li *ngFor="let tarea of aTareas; let i = index">
                <aby-tarea [tarea]="tarea" [i]="i" (deleteTarea)="deleteTarea($event)"  (changeTarea)="changeTarea($event)"></aby-tarea>
            </li>
        </ul>
    </div>
</ng-container>

<ng-template #elseTemplate>
    <div class='mt-4'>
        <p>Anímate a añadir alguna tarea</p>
    </div>
</ng-template>

<dialog #dlgConfirmar>
    <p>¿Estas seguro de borrar todas las tareas?</p>
    <button (click)="deleteAllTareas(true)">Sí</button>
    <button (click)="dlgConfirmar.close()">No</button>
</dialog>