<div class="card">
        <div class="card-header">
            <h4 class="card-title">Libros Google by service</h4>
        </div>
        <div class="card-body form-group">
            
            <input type="text" class="form-control" 
            name="" id="" placeholder="Clave de búsqueda" [(ngModel)]="clave">

            <div class="mt-3">
                <button type="button" class="btn btn-primary" (click) = "onBuscar()"> 
                    Buscar
                </button>

                <button type="button" class="btn btn-primary" (click) = "onBuscarRx()"> 
                    Buscar RxJS
                </button>
            </div>    

        </div>        

        <div class="card-footer text-muted">
                <div>
                    Resultados
                    <ul>
                        <li *ngFor = "let libro of aLibros$ | async">
                            {{ libro }}
                        </li>
                    </ul>          
    
                </div>
                
                <ng-template #mensajes>
                    {{ mensajesError }} 
                </ng-template>
        </div>

    </div>
